<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping-Website</title>
    <style>
        body{
            background-color: aqua;
        }
        
        .footer{
            padding:0%;
            text-align: center;
            position: fixed;
            bottom: 0px;
            width: 100%;
        }
    </style>

</head>
<body>
    <h1 style="font-size: xx-large;color: chocolate;margin:15px;padding: 30px;background-color:yellow;text-align: center;border-radius: 30px;">E-Shop</h1>
    <nav style="font-size:large;color:aqua;margin:15px;padding:5px;background-color: whitesmoke;text-align: center;text-decoration: none;border-radius:30px ;text-decoration: none;">
        <ul>
                <a style="text-decoration: none;" href="Login.html">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="text-decoration: none;" href="main.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                <a style="text-decoration: none;" href="Products.html">Products</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
                <a style="text-decoration: none;" href="Aboutus.html">About-us</a>
        </ul>
    </nav>
    <h1 style="font-size: xx-large;color: brown;text-shadow: 10px;margin-left: 50px;text-decoration: solid;margin-top: 30px;">E-Shop</h1>
    <p style="font-size: x-large;text-align: justify;margin-left: 100px;margin-top: 40px;">Discover a world of endless possibilities at E-shop, your <br> one-stop destination for all your shopping needs. We curate <br> the finest selection of products, bringing you the latest <br> trends and timeless  classics. From fashion and electronics to <br>home decor  and more, we have everything you need to elevate <br> your lifestyle.</p>
    <div class="footer">
    <footer>
        <h3>Copyright &copy; E-shop</h3>
    </footer>
    </div>
</body>
</html>