<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our-Products</title>
    <style>
        .column {
            float: left;
            width: 25%;
            padding: 5px;
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        body{
           margin:40px;
           background-color: azure;
           padding: 20px;
           margin-top: 40px;
           margin-left: 20px;
           margin-right: 20px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="column">
            <img src="https://images.livemint.com/img/2022/12/31/600x338/LML_Star_1667297202175_1672501585553_1672501585553.png" alt="tv" width="250px" height="250px">
            <p>LML SCOOTER ELECTRIC <br>
            Price:75,000 <br></p>
        </div>
        <div class="column">
            <img src="https://m.media-amazon.com/images/I/71K4EDSakKL._SX679_.jpg" alt="tv" width="250px" height="250px">
            <p>ANDROID TV<br>
                Price:50,000 <br></p>
        </div>
        <div class="column">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-a4YvTxtGJV1aiK75O2BNtWzUQox9yKneEg&usqp=CAU" alt="jam" width="250px" height="250px">
            <p>JAM<br>
                Price:250 <br></p>
        </div>
        <div class="column">
            <img src="https://m.media-amazon.com/images/I/41ltLyHYKIL._SX300_SY300_QL70_FMwebp_.jpg" alt="phone" width="250px" height="250px">
            <p>TECNO MOBILE PHONE <br>
                Price:25,000 <br></p>
        </div>
        <div class="column">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzxfMIPbYlZnnkc-YUG5oee6E2iVxb-LfqhA&usqp=CAU" alt="" width="250px" height="250px">
            <p>BLUETOOTH EARPHONE <br>
                Price:1,100 <br></p>
        </div>
    </div>
</body>
</html>